<div class="body-content">
  <div class="row" style="overflow-y: auto;">
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <div class="pl-title"><%= @post.title %></div>
          <div class="pl-title-addons">创建于<%= timego(@post.created_at) %></div>
        </div>
        <div class="card-body">
          <%= @post.content %>
        </div>
        <% if current_user && @post.registration_user_id == current_user.id %>
          <div class="card-footer">
            <span class="pull-right">
              <%= link_to edit_post_path(@post) do %>
                <%= fa_icon 'edit', class: 'fa-lg', style: 'padding-right: 20px' %>
              <% end %>
              <%= link_to post_path(@post), method: :delete do %>
                <%= fa_icon 'close', class: 'fa-lg' %>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="space"></div>
      <div class="card">
        <% if @comments.count > 0 %>
          <div class="card-header">
              <div class="pl-mention">共计<%= @comments.count %>评论</div>
          </div>
          <div class="card-body">
            <% if @comments.present? %>
              <%= render partial: 'comments/comment', collection: @comments, locals: { post: @post, user: @user } %>
            <% end %>
          </div>
        <% else %>
          <div class="card-header">
              <div class="pl-mention">暂无评论</div>
          </div>
        <% end %>
      </div>

      <div class="space"></div>
      <% if current_user %>
        <div class="card">
          <div class="card-header">
              <div class="pl-mention">回复</div>
          </div>
          <%= form_for [@post, @reply], methohd: :post do |reply| %>
            <div class="form-comment">
              <div class="form-group">
                <%= reply.text_area :body, class:'form-control', rows: 2 %>
              </div>
              <div class="form-group">
                <%= reply.submit '提交评论', class: 'btn btn-info btn-sm' %>
              </div>
            </div>
           <% end %>
        </div>
      <% else %>
        <div class="alert alert-dark" role="alert">
          未登陆用户无法评论
        </div>
      <% end %>

    </div>
    <div class="col-3">
      <div class="text-center">
        <%= image_tag 'pljiwuxia.jpg', class: 'rounded', width: '100%' %>
      </div>
    </div>
  </div>
</div>
