<div class="container-fluid signupbox">
  <h1><b calss="text-primary">Pl</b>sky</h1>

  <%= form_for @user, url: users_path, method: :post do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= fa_icon "mobile", class: "fa-fw" %>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "请输入手机号", id: "sms-phnum" %>
    </div>
    <div class="form-group">
      <%= fa_icon "lock", class: "fa-fw" %>
      <%= f.password_field :password, class: "form-control", placeholder: "请输入密码"   %>
    </div>
    <div class="form-group">
      <%= fa_icon "lock", class: "fa-fw" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "请确认密码"  %>
    </div>
    <div class="validate-phone-number">
      <div class="input-group mb-3">
        <%= text_field_tag "vcode", nil, class: "form-control", id: "sms-vcode" %>
        <div class="input-group-append">
          <%= button_tag "获取验证码", class: 'btn btn-outline-secondary', id: 'sms-verify', type: "button" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= rucaptcha_input_tag(class: 'form-control', placeholder: '输入验证码') %>
      <%= rucaptcha_image_tag(alt: '验证码，点击刷新') %>
    </div>
    <div class="login-submit">
      <%= f.submit "注册", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
