
<header class='site-header'>
  <div class="sh-logo">
    <a href="/"><b class="text-primary">Pl</b>sky</a>
  </div>
  <div class="sh-mobile-ctrl">
    <i class='fa fa-bars fa-2x'></i>
  </div>
  <div class="sh-search">
    <form>
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="button" name="button" class="header-search-icon">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <!-- <%= render 'shared/usernav' %> -->
  <div class="sh-menu">
    <ul>
      <% if current_user %>
        <li><a href='#'>音乐</a></li>
        <li><a href='#'>图片</a></li>
        <li><a href='#'>资料</a></li>
        <li class="shm-dropdown">
          <a href='#'>
            <%= fa_icon '', class: 'fas fa-ellipsis-h fa-lg', style: 'color:white' %>
          </a>
          <div class="shm-btn-dropdown" id='profile-dropdown'>
            <ul>
              <li><a href='#'>音乐</a></li>
              <li><%= link_to '设置', settings_path %></li>
              <li><%= link_to '注销', log_out_path %></li>
            </ul>
          </div>
        </li>
      <% else %>
        <li><%= link_to '登陆', log_in_path %></li>
        <li><%= link_to '注册', sign_up_path %></li>
      <% end %>
    </ul>
  </div>
  </div>
</header>
